nav {
  height: 10vh;
  background: #5b78c7;
}
.scroll {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 70%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
.nav-links li {
  padding-right: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.landing {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing h1 {
  margin: 100px;
  font-size: 50px;
  color: #ae5fce;
}

.fade-in {
  display: none;
}
.fade-out {
  display: block;
}

/**
* *Underline fill styling
*/
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav.fill ul li a {
  transition: all 2s;
  padding: 10px;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
/* Keyframes */
@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #000;
  }
}

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
  .nav-links {
    position: fixed;
    background: #5b78c7;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(1000px at 100% 100%);
    -webkit-clip-path: circle(1000px at 100% 100%);
    pointer-events: all;
  }

  .landing {
    flex-direction: column;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 1s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 1.2s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 1.4s;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1.6s;
  }
  .nav-links li:nth-child(8) {
    transition: all 0.5s ease 1.8s;
  }
  li.fade {
    opacity: 1;
  }
}
